@@include('header.htm')

@@include('blocks/navigation.htm')

<!-- hero area -->
<section class="hero-area bg-primary" id="parallax">
  <div class="container">
    <div class="row">
      <div class="col-lg-11 mx-auto">
        <h1 class="text-white font-tertiary display-1">LDTO 2022</h1>
        <h1 class="text-white font-tertiary display-6">22 Ottobre<br>Campus Einaudi</h1>
      </div>
    </div>
  </div>
  <div class="layer-bg w-100">
    <img class="img-fluid w-100" src="images/illustrations/leaf-bg.png" alt="bg-shape">
  </div>
  <!-- social icon -->
  <ul class="list-unstyled ml-5 mt-3 position-relative zindex-1">
    <li class="mb-3"><a class="text-white" href="https://www.facebook.com/LinuxDayTorino" title="Linux Day Torino su Facebook"><i class="ti-facebook"></i></a></li>
    <li class="mb-3"><a class="text-white" href="https://twitter.com/linuxdaytorino" title="Linux Day Torino su Twitter"><i class="ti-twitter"></i></a></li>
  </ul>
  <!-- /social icon -->
</section>
<!-- /hero area -->

<!-- about -->
<section class="section mt-4" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">Dopo due anni di sospensione torna a Torino il Linux Day, la manifestazione nazionale per la promozione e la divulgazione di Linux e del software libero e open source.</p>
        <p class="font-secondary paragraph-lg text-dark">L'accesso è libero e gratuito, e non è richiesta nessuna registrazione.</p>
      </div>
    </div>
  </div>
</section>
<!-- /about -->

<!-- experience -->
<section class="section">
  <div class="container">
    <div class="row justify-content-around">
      <div class="col-lg-3 col-md-4 text-center">
        <img src="images/experience/icon-1.png" alt="icon">
        <h4>4 aule tematiche</h4>
        <h6 class="text-light">16 talk, dal livello introduttivo a quello avanzato</h6>
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <img src="images/experience/icon-2.png" alt="icon">
        <h4>Linux Install Party</h4>
        <h6 class="text-light">Porta il tuo PC e installiamo Linux insieme</h6>
      </div>
      <div class="col-lg-3 col-md-4 text-center">
        <img src="images/experience/icon-3.png" alt="icon">
        <h4>Gadgets</h4>
        <h6 class="text-light">Stickers e magliette per promuovere Linux a scuola e in ufficio</h6>
      </div>
    </div>
  </div>
</section>
<!-- ./experience -->

<!-- education -->
<section class="section position-relative" id="location">
  <div class="container">
    <div class="row mt-4 align-items-center">
      <div class="col-lg-6 col-md-6 mb-80">
          <iframe title="Mappa del Linux Day Torino 2022" width="100%" height="623" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=7.681782245635987%2C45.066382917396055%2C7.717616558074952%2C45.080808919373105&amp;layer=mapnik&amp;marker=45.073596373577026%2C7.699699401855469" style="border: 1px solid black"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=45.07340&amp;mlon=7.70031#map=19/45.07340/7.70031" target="_blank">Visualizza mappa estesa</a></small>
      </div>
      <div class="col-lg-6 col-md-6 mb-80">
        <p class="mb-0 text-light">Quest'anno ci troviamo al Campus Einaudi, su Lungo Dora Siena (blocco D2, aule A1, A2, B1, B2), sede del Dipartimento di Economia e Statistica dell'Università degli Studi di Torino e vicinissimo al centro.</p>
        <p class="mb-0 mt-4 text-light">Linee bus: 3, 19, 68</p>
        <img class="img-fluid mt-4" src="images/campus.jpg" alt="Campus Einaudi a Torino">
        <small><a href="https://commons.wikimedia.org/w/index.php?curid=48577472">Foto di Deplaw2012 - CC BY-SA 4.0</a></small>
      </div>
      <div class="col-lg-12 mb-80">
          <img class="img-fluid mt-4" src="images/planimetria.jpg" alt="Planimetria del Linux Day Torino 2022">
      </div>
    </div>
  </div>
  <!-- bg image -->
  <img class="img-fluid edu-bg-image w-100" src="images/backgrounds/education-bg.png" alt="bg-image">
</section>
<!-- /education -->

<!-- portfolio -->
<section class="section" id="schedule">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Programma</h2>
      </div>
    </div>
    <div class="row schedule-row">
      <div class="col-12">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th width="12%">&nbsp;</th>
                        <th width="22%">Aula Base</th>
                        <th width="22%">Aula Dev</th>
                        <th width="22%">Aula Sys</th>
                        <th width="22%">Aula Misc</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>14:00</th>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'mannarella',
                                title: 'Primi passi con Linux',
                                author: 'Andrea Mannarella',
                                abstract: "Perché dovrei scegliere Linux per il mio PC? Come faccio ad installare un programma? E come gestisco i miei file? E i dispositivi che già posseggo sono compatibili? E se ho un problema a chi chiedo aiuto? In questo talk risponderemo a queste e altre domande riguardo il sistema operativo del pinguino e vedremo un esperienza pratica nell'uso di tutti i giorni.",
                                slides: '',
                            })
                        </td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'bergesio',
                                title: 'This title was automatically generated',
                                author: 'Francesco Bergesio',
                                abstract: "Creazione di un semplice bot per telegram attraverso python da BotFather al deployment. Verranno illustrate alcune delle funzionalità della libreria python-telegram-bot.",
                                slides: '',
                            })
                        </td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'sacco',
                                title: 'Dai file ai blocchi del disco: strutture e funzioni',
                                author: 'Giuseppe Sacco',
                                abstract: "Quando si deve rendere qualcosa di permanente, va salvato su disco, che sia meccanico o a stato solido. Qui vediamo come funzionano i file system, quali sono le funzionalità aggiunte di recente, come questi si basino su generici dispositivi a blocchi, che possono essere dei veri e propri dischi fisici o gruppi di dischi raccolti in RAID o anche parti di dischi gestite come volumi logici. Vedremo cosa sono le etichette dei dischi, la tabella delle partizioni, gli i-node e altro ancora.",
                                slides: 'slides/disco_strutture.pdf',
                            })
                        </td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'tirenna',
                                title: 'Qubes OS: Storie di un Meta Sistema Operativo',
                                author: 'Pietro Tirenna',
                                abstract: "È difficile raggiungere la serenità digitale quando ogni nostra attività, da giocare su software crackato a consultare il conto in banca, avviene nello stesso dispositivo. Qubes OS affronta il problema costruendo fin dalle fondamenta sul concetto di 'stanze digitali', mettendo come postulato che tutto il software è vulnerabile. Il talk introdurrà prima le caratteristiche principali dell'OS, per poi esplorare alcuni casi d'uso per sfruttare il sistema e poter dormire sonni più tranquilli.",
                                slides: '',
                            })
                        </td>
                    </tr>
                    <tr>
                        <th>15:00</th>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'maselli',
                                title: 'Selfhosting, il tuo cloud a casa o dove ti pare',
                                author: 'Luigi Maselli',
                                abstract: "E se ti dicessi che puoi avere una solizione simile a Google Docs, Dropbox,  Spotify, Netflix a casa tua, gratis, senza pagare un abbonamento mensile ?<br>Il cloud è solo il computer di qualcun altro. Il software open source usato via Web, ci permette avere la comodità di accedere da più dispositivi via Web, ma anche la libertà di accedere ai nostri dati senza dipendere da servizi SaaS di terzi.<br>Vedremo quali sono i componenti principali per ricrearci la nostra in internet locale (LAN) e alcuni casi.",
                                slides: '',
                            })
                        </td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'laudadio',
                                title: 'Suckless.org: software minimalista per tutti',
                                author: 'Lorenzo Laudadio',
                                abstract: "Un viaggio alla scoperta dei diversi progetti sviluppati dalla community Suckless.org, accomunati dal principio di fondo che il software, per essere di qualità, debba essere semplice e minimale.",
                                slides: '',
                            })
                        </td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'nuvoli',
                                title: 'Perchè si sta tornando a Fibre Channel da ISCSI?',
                                author: 'Massimo Nuvoli',
                                abstract: "Cosa sta succedendo nel mondo dello storage? Negli ultimi tempi l'onda di ISCSI sembra essersi attenuata e FC si sta nuovamente imponendo sul mercato.<br>E' possibile implementare uno storage sia ISCSI che FC usando GNU/Linux... e ovviamente gli host GNU/Linux (e non solo) possono accedere a questo storage.",
                                slides: '',
                            })
                        </td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'tucci',
                                title: 'Fare i conti, dentro ai chip',
                                author: 'Francesco Tucci',
                                abstract: "Fare i conti con i numeri decimali su carta è facile, ce lo insegnano alle elementari. Ma fare le addizioni all'interno di una calcolatrice, in digitale con i segnali elettrici è tutt'altro che banale.",
                                slides: 'slides/conti_chip.pdf',
                            })
                        </td>
                    </tr>
                    <tr>
                        <th>16:00</th>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'foti',
                                title: 'Cloud personale da zero con Nextcloud',
                                author: 'Mauro Foti',
                                abstract: "Si parla sempre più spesso del valore dei nostri dati e del potenziale rischio se ne perdessimo il controllo. I colossi dell'informazione hanno già accesso alle nostre informazioni più sensibili (email, contatti, calendari, file privati, accesso alla localizzazione dei dispositivi mobili): in questa presentazione useremo software open-source (docker, apache, nextcloud) per creare passo-passo un cloud personale da zero, sicuro e in cui noi stessi abbiamo il totale controllo sui dati.",
                                slides: 'https://github.com/MauroFoti/ldto-2022',
                            })
                        </td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'mazza',
                                title: 'Liberare il trasporto pubblico a Torino',
                                author: 'Fabio Mazza',
                                abstract: "Come sviluppare un'applicazione open source per il trasporto pubblico di Torino? Esistono dei dati in formato aperto, liberamente accessibili? In questo talk proveremo a rispondere a queste domande attingendo all'esperienza accumulata nello sviluppo di Libre BusTO, un'app per Android completamente libera nata per rendere più accessibile l'utilizzo di tram, bus e metro.",
                                slides: '',
                            })
                        </td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'antoci',
                                title: 'Peertube: video nel Fediverso',
                                author: 'Rosario Antoci',
                                abstract: "In un mondo controllato dalle Big Tech, l'opportunità di decentralizzare i servizi diventa una prospettiva interessante per controllare i propri contenuti e la loro diffusione.<br>Durante il talk verrà presentata l'esperienza di video.linux.it la piattaforma di Italian Linux Society basata su Peertube.",
                                slides: '',
                            })
                        </td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'poncini',
                                title: 'Processori multipli contro l\'hardware hacking',
                                author: 'Gianfranco Poncini',
                                abstract: "La presenza di processori nascosti e non documentati nelle moderne CPU di PC commerciali, con livello di priorita' superiore al kernel del sispema operativo, rende queste CPU vulnerabili ad attacchi a malapena immaginabili. Per applicazioni critiche occorrono soluzioni con processori multipli e differenti che agiscono in parallelo. Come nell' aerospazio, anche se con scopi differenti. Linux, che gira su molte differenti piattaforme hardware, rappresenta un eccellente asso nella manica.",
                                slides: 'slides/processori_multipli.pdf',
                            })
                        </td>
                    </tr>
                    <tr>
                        <th>17:00</th>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'zabot',
                                title: 'Il software libero in ambito gestionale',
                                author: 'Mauro Zabot',
                                abstract: "Riflessioni e panoramica sul software libero per gli utilizzi in ambito amministrativo-gestionale con particolare attenzione al punto di vista delle PMI. Considerazioni sui problemi occulti delle proposte commerciali.<br>L'importanza del livello utente e del System manager (per lo più assente) nelle scelte dei software da utilizzare.",
                                slides: 'slides/gestionale.odp',
                            })
                        </td>
                        <td></td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'isoardi',
                                title: 'La domotica col copy and paste',
                                author: 'Davide Isoardi "Abacus"',
                                abstract: "Vediamo una breve panoramica su Home Assistant, le modalità di deploy e i concetti base, ma soprattutto indichiamo anche i principali riferimenti della community italiana da cui poter attingere per comprendere questo home hub.",
                                slides: '',
                            })
                        </td>
                        <td>
                            @@include('blocks/slot.htm', {
                                id: 'dipinto',
                                title: 'Ecologia Digitale',
                                author: 'Antonio Alessio Di Pinto',
                                abstract: "Il digitale è fisico. In che modo la rivoluzione digitale sta impattando su clima, ambiente, lavoratori e società? Un manifesto per il digitale sostenibile. Spegnete il computer! Il mondo digitale è meno verde di quello che sembra. Se non sapete che cos’è uno zettabyte e qual è il suo “peso carbonico” o se siete stufi di essere “profilati”, questo talk fa per voi. Il cloud non è tra le nuvole ma in data center che consumano energia e producono CO2 ogni volta che spediamo una mail. E’ necessario aconoscere e praticare un “consumo critico” di tecnologia ribellarsi – senza essere hacker prevenire l’e-waste.",
                                slides: 'slides/ecologia_digitale.pdf',
                            })
                        </td>
                    </tr>
                </tbody>
            </table>

	    <div class="col-lg-10 mx-auto text-center">
                <p class="font-secondary paragraph-lg text-dark">Calendario in <a href="calendar/ldto-2022.ics">formato .*ics</a></p>
           </div>


        </div>
      </div>
    </div>
  </div>
</section>

<!-- /portfolio -->

<section class="section" id="schedule2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">... e inoltre...</h2>
      </div>
    </div>
    <div class="row schedule-row justify-content-center">
      <div class="col-12 col-md-3 text-right">
          <h3>Linux Install Party</h3>
          <p>
              Vuoi installare Linux sul tuo PC? Ci hai provato, ma hai avuto difficoltà? Già lo usi, ma c'è qualcosa che non va?
          </p>
          <p>
              Portalo al Linux Day e ci pensiamo noi!
          </p>
      </div>
      <div class="col-1">
          &nbsp;
      </div>
      <div class="col-12 col-md-3">
          <h3>Restart Party</h3>
          <p>
              Hai un dispositivo elettronico (e non) che non funziona bene? Anziché buttarlo, portacelo e cerchiamo di ripararlo insieme!
          </p>
          <p>
              Powered by <a href="https://www.facebook.com/RestartersTorino">Restarters Torino</a>.
          </p>
      </div>
    </div>
  </div>
  </section>

<!-- testimonial -->
<section class="section bg-primary position-relative testimonial-bg-shapes mt-4">
  <div class="container">
      <div class="row d-flex align-items-center justify-content-around">
          <div class="col text-center">
              <a href="https://linuxday.it/2022"><img src="images/linuxday.png" class="img-fluid" alt="Linux Day"></a>
          </div>
          <div class="col text-center">
              <a href="https://ils.org/"><img src="images/ils.png" class="img-fluid" alt="Italian Linux Society"></a>
          </div>
          <div class="col text-center">
              <a href="https://www.mupin.it/"><img src="images/mupin.png" class="img-fluid" alt="Museo Piemontese Informatica"></a>
          </div>
      </div>
  </div>
  <!-- bg shapes -->
  <img src="images/backgrounds/map.png" alt="map" class="img-fluid bg-map">
  <img src="images/illustrations/dots-group-v.png" alt="bg-shape" class="img-fluid bg-shape-1 d-none d-md-block">
  <img src="images/illustrations/leaf-orange.png" alt="bg-shape" class="img-fluid bg-shape-2 d-none d-md-block">
  <img src="images/illustrations/dots-group-sm.png" alt="bg-shape" class="img-fluid bg-shape-3 d-none d-md-block">
  <img src="images/illustrations/leaf-cyan.png" alt="bg-shape" class="img-fluid bg-shape-5 d-none d-md-block">
</section>

@@include('blocks/footer.htm')

@@include('footer.htm')
