<a href="#" data-toggle="modal" data-target="#@@id">
	@@title
	<p class="author">@@author</p>
	@@if(slides != '') {
		<p class="slides">(slides disponibili)</p>
	}
</a>

@@include('blocks/talk.htm', {
	id: '@@id',
	title: "@@title",
	author: '@@author',
	abstract: "@@abstract",
	slides: "@@slides",
})
